body {
	background: black;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}

/* Para Poner bordes rojos a todo */
/* * { 
    outline: 1px dashed red;
} */

/* Card classes */
.card {
    background-color: white;
    
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;

    width: 430px;
    height: 580px;
}
.card-header {
    height: 10%;
    display: flex;
    justify-content: space-between;
}
.card-img {
    height: 56%;
}
.card-buttons {
    height: 8%;
    box-sizing: border-box;
    padding: 1em;
}

.card-text {
    height: 26%;
    text-align: justify;
    box-sizing: border-box;  /* This prevent the padding from changing div dimensions */
    padding: 1em;
}

#post {
    object-fit: cover;
    object-position: 50% 82%;
    width: 100%;
    height: 100%;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#settings {
    float: right;
}

.logo-text {
    align-items: flex-start;
    flex-direction: column;
}

.pad-1 {
    padding: 1em;
}